<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tip Calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script.js" type="text/javascript" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body>
    <br>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <div class="">
                    <h1><span class="badge bg-secondary text-light">Tip </span>   <span class="badge bg-secondary text-light"> Calculator</span></h1>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown button
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-3 align-self-center " style="font-size: large ;font-weight: 500;">
                    <form autocomplete="on">
                        <div class="mb-3">
                            <label for="billVal" class="form-label">Bill</label>
                            <input type="number" class="form-control" id="billVal" min="1" required>
                        </div>
                        <div class="mb-3 number">
                            <label for="tipPerc" class="form-label">Tip %</label>
                            <br>
                            <span class="minus">-</span>
                            <input type="text" value="1" onchange="tipChange(this)" id="tipPerc" />
                            <span class="plus">+</span>
                        </div>
                        <div class="mb-3 number">
                            <label for="peopleNum" class="form-label">Number Of People</label>
                            <br>
                            <span class="minus">-</span>
                            <input type="text" value="1" id="peopleNum"/>
                            <span class="plus">+</span>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="tip%" class="form-label">Tip %</label>
                            <input type="number" class="form-control" id="tip%" min="0" max="100" required>
                        </div> -->
                        <!-- <div class="mb-3">
                            <label for="numberOfPeople" class="form-label">Number Of People</label>
                            <input type="number" class="form-control" id="numberOfPeople" min="1" required>
                        </div> -->
                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                    </form>
                </div>
                <!-- <div class="col-3"></div> -->
                <div class="col-3 align-self-center ">
                    <div class="row align-items-center justify-content-center">
                         <!-- <div> -->
                            <div class="d-flex flex-column bd-highlight mb-3 justify-content-start">
                                <div class="d-flex flex-row mb-3 ">
                                    <!-- <div class="d-flex flex-column bd-highlight mb-3"> -->
                                        <div class="d-inline"><h4 style="font-size: 2.5rem; float: left;">Tip </h4></div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="d-inline"><h4 style="font-size: 2.8rem; color:rgb(140, 143, 146);" id="tipVal"> $25.00</h4></div>
                                    <!-- </div> -->
                                </div>
                                
                                <!-- <div class="d-flex ">Per Person</div> -->
                            </div>
                            <div class="d-flex flex-column bd-highlight mb-4 ">
                                <div class="d-flex flex-row mb-3 ">
                                    <!-- <div class="d-flex flex-column bd-highlight mb-3"> -->
                                        <div class="d-inline" ><h4 style="font-size: 2.5rem;">Total </h4></div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="d-inline " ><h4 id="totalPerPerson" style="font-size: 2.8rem; color:rgb(140, 143, 146);"> $275.00</h4></div>
                                    <!-- </div> -->
                                </div>
                                <!-- <div class="d-flex ">Per Person</div> -->
                            </div>

                                <!-- <div class="d-flex flex-column bd-highlight mb-3">
                                    <div class="d-inline"><h4>Tip </h4></div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="d-inline"><h4> $25.00</h4></div>
                                </div> -->
                             <!-- </div> -->
                             
                         <!-- </div> -->
                    </div>
                </div>
                <div class="col-3">
                    <img src="https://image.freepik.com/free-vector/calculator-concept-illustration_114360-1194.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>