<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tip Calculator</title>
    <link rel = "icon" href = "https://static.vecteezy.com/system/resources/thumbnails/000/351/160/small/4__289_29.jpg" type = "image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/style.css">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body>
    
    <div id="loader" class="d-flex  justify-content-center">
        <button class="btn btn-secondary btn-lg" type="button" style="margin-top:20% ;" disabled>
            . . . .L<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>ading. . . .
        </button>
    </div>
    <br>
    <div class="container" id="content" style="display: none;">
        <nav class="navbar navbar-light bg-light">
                <div class="">
                    <h1><span class="badge bg-secondary text-light">Tip </span> <span class="badge bg-secondary text-light"> Calculator</span></h1>
                </div>
                <div class="dropdown "  >
                    <select class="selectpicker" onmousedown="this.value='';" onchange="dropdownChange(this.value);" style="background-color: #6c757d;">
                        <% for (var key in curr) { %>
                            <% if(  key  =="USD"){ %>
                                <option selected="selected" value="<%= key %>" ><%= curr[key] %></option>
                            <% }else{ %>
                               <option value = "<%= key %>" ><%= curr[key] %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
        </nav>
        <div class="container-md">
            <div class="row">
                <div class="col-3 align-self-center " style="font-size: large ;font-weight: 500;">
                    <form autocomplete="on">
                        <div class="mb-3">
                            <label for="billVal" class="form-label">Bill</label>
                            <br>
                            <span class="minus" onclick="decr(0,'billVal')">-</span>
                            <input type="number" value="0" onchange="billValChange()" id="billVal" />
                            <span class="plus" onclick="incr(0,'billVal')">+</span>
                        </div>
                        <div class="mb-3 number">
                            <label for="tipPerc" class="form-label">Tip %</label>
                            <br>
                            <span class="minus" onclick="decr(1,'tipPerc')">-</span>
                            <input type="number" value="0" onchange="billValChange()" id="tipPerc" />
                            <span class="plus" onclick="incr(1,'tipPerc')">+</span>
                        </div>
                        <div class="mb-3 number">
                            <label for="peopleNum" class="form-label">Number Of People</label>
                            <br>
                            <span class="minus" onclick="decr(2,'peopleNum')" >-</span>
                            <input type="number" value="0" id="peopleNum" onchange="billValChange()" />
                            <span class="plus" onclick="incr(2,'peopleNum')">+</span>
                        </div>
                    </form>
                </div>
                <div class="col-3 align-self-center ">
                    <br><br>
                    <div class="align-items-center justify-content-center">
                        <div class="d-flex flex-column bd-highlight mb-3 justify-content-start">
                            <div class="d-flex flex-row mb-3 ">
                                <div class="d-inline">
                                    <h4 style="font-size: 2.6rem; float: left; margin-bottom: 0%;">Tip </h4>
                                    <p class="justify-content-start">Per person</p>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="d-inline">
                                    <h4 style="font-size: 2.6rem;margin-bottom: 0%; color:rgb(140, 143, 146);"><span id="tipVal">0</span></h4>
                                    <p class="justify-content-start " style="color:rgb(140, 143, 146);"> <span id="tipCurrencyCode">USD</span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="align-items-center justify-content-center">
                        <div class="d-flex flex-column bd-highlight mb-4 ">
                            <div class="d-flex flex-row mb-3 ">
                                <div class="d-inline">
                                    <h4 style="font-size: 2.5rem; margin-bottom: 0%;">Total </h4>
                                    <p class="justify-content-start" style="margin-left: 10%; ">Per person</p>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div class="d-inline ">
                                    <h4 style="font-size: 2.5rem; margin-bottom: 0% ;color:rgb(140, 143, 146);"><span id="totalPerPerson">0</span></h4>
                                    <p class="justify-content-start " style="color:rgb(140, 143, 146); "><span id="totalCurrencyCode">USD</span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <img src="https://image.freepik.com/free-vector/calculator-concept-illustration_114360-1194.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="/script.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/i18n/defaults-*.min.js"></script>
</body>

</html>