/* body{
    background-color: blue;
} */
span {cursor:pointer; }
/* .number{ */
    /* margin:100px; */
    /* background-color: aqua; */
/* } */
.minus, .plus{
    width:40px;
    height:40px;
    background:#f2f2f2;
    border-radius:4px;
    padding:4px ;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
input{
    height:40px;
    width: 156px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
} 